/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Navigation bar styles */
header {
    font-size: 1.2em;
    position: sticky;
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* Section styles */
section {
    font-size: 1.3em;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

#title {
    display: flex;
}

#title img {
    width: 200px; /* Set the desired width */
}

#navbar {
    display: flex;
    gap: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    text-decoration: underline;
}

#home {
    background-color: #F5D8B2;
    color: black;
}

#overmij {
    background-color: #AF5226;
}

#cursussen {
    background-color: #FF914D;
    min-height: 45vh;
}

#werkervaring {
    background-color: #4C8F30;
    min-height:0vh;
}

#opleidingen {
    background-color: #4C8F30;
    min-height: 45vh;
}

#tarieven {
    background-color: #F5D8B2;
    color: black;
    min-height: 62vh;
}

#contact {
    background-color: #AF5226;
    min-height: 0vh;
}

/* Content within sections */
.section-content {
    max-width: 800px;
    margin: auto;
}

.section-title {
    font-family: 'Sans', sans-serif;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Image styles */
.section-image {
    display: block;
    border-radius: 7px; /* Adjust the value for more or less rounding */
}

#home .section-image {
    width: 300px;
    margin: 60px auto;
}

#overmij .section-image {
    width: 500px;
    margin: 40px auto;
}

#cursussen .section-image {
    width: 500px;
    margin: 20px auto;
}

#contact .section-image {
    width: 400px;
    margin: 20px auto;
}

/* General responsive styles for mobile */
@media (max-width: 768px) {
    /* Navigation bar adjustments */
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    #title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #navbar {
        flex-direction: column;
        gap: 10px;
    }

    #navbar a {
        font-size: 1em;
    }

    .section-title {
        font-size: 1.5em;
    }

    /* Image adjustments */
    .section-image {
        max-width: 80%; /* Make images slightly smaller on mobile */
        border-radius: 10px; /* Slightly adjust the radius for smaller screens */
    }
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}