/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Navigation bar styles */
header {
    font-size: 1.2em;
    position: sticky;
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* Section styles */
section {
    font-size: 1.3em;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

#title {
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#navbar {
    display: flex;
    gap: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    text-decoration: underline;
}

#home {
    background-color: #F5D8B2;
    color: black;
}
#overmij { background-color: #AF5226; }
#opleidingen { background-color: #FF914D; }
#werkervaring { background-color: #4C8F30; }
#tarieven {
    background-color: #F5D8B2;
    color: black;
}
#contact { background-color: #AF5226; }

/* Content within sections */
.section-content {
    max-width: 800px;
    margin: auto;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Image styles */
.section-image {
    max-width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 5px; /* Adjust the value for more or less rounding */
}

/* General responsive styles for mobile */
@media (max-width: 768px) {
    /* Navigation bar adjustments */
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    #title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #navbar {
        flex-direction: column;
        gap: 10px;
    }

    #navbar a {
        font-size: 1em;
    }

    .section-title {
        font-size: 1.5em;
    }

    /* Image adjustments */
    .section-image {
        max-width: 80%; /* Make images slightly smaller on mobile */
        border-radius: 10px; /* Slightly adjust the radius for smaller screens */
    }
}